/* Set the background image */
body {
    background: url('bg.png') center no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Style for the navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

.nav-link-large {
    font-size: 1.5em;
    color: pink;
}

.nav-link-large:hover {
    color: #ff69b4;
}

/* Company logo styling */
.navbar-brand img {
    width: 150px;
}

/* Container styling */
.container {
    padding-top: 50px;
    text-align: center;
    color: #333;
}

.container h2 {
    font-size: 3rem;
}

.container p {
    font-size: 1.2rem;
    line-height: 1.6;
}
