/* Set the background image */
body {
    background: url('bg.png') center no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensures full viewport height */
    margin: 0;  /* Remove default margin */
    padding: 0; /*  Remove default padding */
}

/* Style for the navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

/* Company logo styling */
.navbar-brand img {
    width: 150px; /* Adjust as needed */
}

/* Container styling */
.container {
    padding-top: 50px; /* Adjust the top padding as needed */
    text-align: center; /* Center-align content in the container */
    color: #333; /* Default text color */
}

.container h2 {
    font-size: 3rem; /* Large heading size */
}

.container p {
    font-size: 1.2rem; /* Paragraph font size */
    line-height: 1.6; /* Line height for readability */
}
